body {
    width: 100%;
    height: 100%;

    background: #7F7FD5;  
background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  
background: linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5);

  }

.nexus-logo{
    width: 120px;
  }
 
@media screen and (min-width: 990px){

  .nav-list{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 80px;
   
     }

    .nav-items{
      width: 130px;
      
      
    }
  
} 



@media screen and (max-width: 990px){

.nav-burger{
  text-align: center;
  
  
}

.nav-list{
  display: flex;
  flex-direction: column;
  width: 600px;
  

}

.item-burger{
  background-color: transparent;
  color: white;
}

}

@media screen and (max-width: 400px){
  .nav-burger{
    text-align: center;
    
    
  }
  
  .nav-list{
    display: flex;
    flex-direction: column;
    width: 300px;
    
  
  }
  
  .item-burger{
    background-color: transparent;
    color: white;
  }
}

footer{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.6474964985994398) 11%, rgba(0,0,0,0.6138830532212884) 100%);
    color: antiquewhite;
}



.contacto{
    margin-left: 20px;
    margin-right: 20px;
}

.div-main{
    padding: 50px;
}

h1, h6{
    text-align: center;
}

.h6-bold{
    font-weight: 700;
    text-align: center;
}
.ul-nav{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin: 0px;
}

.li-nav{
    list-style: none;
    border-radius: 10px;
    background: white;
    border: 1px white solid;
    
}
